<div class="sample">
    <app-navbar></app-navbar>
    <h2 class="text-center mt-4">{{mainText}}</h2>
    <h6 class="text-center">{{subText}}</h6>

    <div class="container" style="height: 600px;" >

        <div class="content">

            <form [formGroup]= "companyForm">
        
            <div class="row">
                <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="filePicker.click()" width="30" height="30" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                    </svg>
                    
                    <input type="file" #filePicker (change)="onImagePicker($event)">
        
                </div>
                <div class="col-md-6">
                    <div class="text-warning">No Upload logo, yet!</div>
                </div>
                <div class="col-md-6">
                    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                        <img [src]="imagePreview">
                      </div>
                </div>
            </div>
        
        
          <div class="form-row mb-4 mt-3">
            <label>Company name</label>
                <div class="col">
                    <input formControlName="companyName" type="text" id="FormCompanyName" class="form-control">
                </div>
          </div>
        
            <div class="form-row mb-4">
                <label>Email</label>
                <div class="col">
                    <input formControlName="eMail" type="text" id="FormE mail" class="form-control">
                </div>
            </div>
        
            <div class="form-row mb-4">
                <label>Job title</label>
                <div class="col">
                    <input formControlName="jobTitle" type="text" id="FormJobtitle" class="form-control">
                </div>
            </div>
        
            <div class="form-row mb-4">
                <label>JobExperience</label>
                <div class="col">
                    <input formControlName="jobExperience" type="text" id="FormJobExpreicence" class="form-control">
                </div>
            </div>
        
            <div class="row">
        
                <div class="col-md-4">
                    <button  (click)= "back()" type="button" style="width: 100%; background-color:#ff7700; border: none; color: white; padding: 5px;">Back</button>
                </div>
        
                <div class="col-md-8">
                    <button [disabled]="companyForm.invalid" (click) = 'sendotp()' type="button" style= "width: 100%; background-color:#ff7700; border: none; color: white; padding: 5px;   ">Send OTP</button>
                </div>
        
            </div>
        
         </form> 
        </div>
        
        
        

    
      
    </div>
</div>

