<div class="sample">
    <app-navbar></app-navbar>
    <h2 class="text-center mt-4">{{mainText}}</h2>
    <h6 class="text-center">{{subText}}</h6>

    <div class="container" style="height: 600px;" >

        <div class="form-row mb-4">
            <form [formGroup]= "emailForm">
    
             <label>Enter your code</label>
             <div class="row mt-3">
                <div class="col-md-2">
                    <input (input)="inputChange($event.target.value, 'box2')" formControlName="number1" maxlength="1" type="text" id="box1" class="form-control " style="width: 60px;  height: 60px;" >
                    
                </div>
                <div class="col-md-2">
                    <input (input)="inputChange($event.target.value, 'box3')"formControlName="number2" maxlength="1" type="text" id="box2" class="form-control ml-5 " style="width: 60px; margin-left: 15px; height: 60px;">
                    
                </div>
                <div class="col-md-2">
                    <input (input)="inputChange($event.target.value, 'box4')" formControlName="number3" maxlength="1" type="text" id="box3" class="form-control ml-5 " style="width: 60px; margin-left: 35px; height: 60px;">
                    
                </div>
                <div class="col-md-2">
                    <input (input)="inputChange($event.target.value, 'box5')" formControlName="number4" maxlength="1" type="text" id="box4" class="form-control ml-5 "style="width: 60px; margin-left: 55px; height: 60px;">
                    
                </div>
                <div class="col-md-2">
                    <input (input)="inputChange($event.target.value, 'box5')" formControlName="number5" maxlength="1" type="text" id="box5" class="form-control " style="width: 60px; margin-left: 75px; height: 60px;">
                    
                </div>
                
              </div>
          <div class="row mt-5">
          <div class="col-md-2">
            <button (click)= "back()" type="button" style="width: 100%; background-color:#ff7700; border: none; color: white; padding: 5px;"  >Back</button>
        </div>
        <div class="col-md-10">
            <button (click)= "finish()" [disabled]="emailForm.invalid" type="button" style="width: 100%; background-color:#ff7700; border: none; color: white; padding: 5px;">Finish</button>
        </div>
      </div>
    
    
      <hr class="mt-5">
    
      <p class="text-center">Didn't receive the email? Check your spam filter for an email</p>
       <p class="text-center"> from <span class="text-danger">name@domain.com </span></p>
    
    
      </form>
    </div>
    
    
      
    </div>
</div>


